@font-face {
  font-family: "graphik_comp_regular_trialRg";
  src: url("/Assets/Fonts/graphikcompact-regular-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graphik_cond_trialmedium";
  src: url("/Assets/Fonts/graphikcondensed-medium-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "graphik_comp_regular_trialRg", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
nav {
  position: relative;
  background-color: #fff;
  font-size: 16px;
  z-index: 1;
}
nav img {
  margin-right: 60px;
}
.gallery-vidio {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-position: center;
}
.background-clip {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
.gallery-vidio .content {
  position: absolute;
}
.gallery-vidio .content h2 {
  font-family: "graphik_cond_trialmedium";
}
@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}
article {
  position: relative;
}
article .title h2 {
  font-family: "graphik_cond_trialmedium";
}
article .card {
  border: none;
  border-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
article .product .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  width: 100vw;
  height: 100%;
}
main .brand {
  position: relative;
}
main .brand .item {
  position: absolute;
  bottom: 10;
  text-align: center;
}
main .brand .gallery img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.slider {
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 12);
}

.slider .slide {
  height: 100%;
  width: 250px;
}

.slider .slide img {
  width: 90%;
  height: 300px;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}

footer {
  position: relative;
  height: 50px;
  background-color: #fff;
  padding-top: 15px;
  margin-top: 100px;
}
footer a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
}

#nav-icon {
  width: 40px;
  height: 15px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2) {
  top: 18px;
}

#nav-icon span:nth-child(3) {
  top: 36px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nav-mobile {
  margin-top: 2px;
  width: 100px;
  height: 80px;
  border: 2px solid;
  border-color: rgb(0, 0, 0);
  display: none;
}
.nav-mobile a {
  text-decoration: none;
  list-style: none;
  color: #000;
}
